{{> header}}
<style xmlns="">
    .wrap-title {
        padding-left: 5px;
        width: 100%;
        border-left: solid 2px #5aaeaa;
        font-weight: 600;
    }

    .cover-wrap {
        width: 100%;
    }

    .cover-wrap img {
        width: 100%;
        max-height: 300px
    }

    .group-wrap {
        box-sizing: border-box;
        padding: 8px 10px 10px 10px;
    }

    .group-wrap .title {
        font-size: 25px;
        font-weight: 600;
        position: relative;
        text-align: center;
        margin-bottom: 15px
    }

    .group-wrap .info-item-wrap {
        margin-bottom: 15px;
        position: relative;
    }

    .info-item-wrap .avatar {
        padding: 0px 5px;
        width: 50px;
        float: left;
    }

    .info-item-wrap .avatar img {
        width: 100%;
        border-radius: 50%;
    }

    .info-item-wrap .info {
        float: left;
        padding-left: 10px;
    }

    .info-item-wrap .info .username {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .info-item-wrap .info .category {
        font-size: 14px;
        color: #737476;
    }

    .info-item-wrap .info .tags {
        font-size: 13px;
        color: #737476;
    }

    .info-item-wrap .care {
        font-weight: 100;
        position: absolute;
        font-size: 10px;
        top: 2px;
        right: 20px;
    }

    .desc {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .desc-content {
        margin-top: 15px;
    }

    .chapter-row{
        margin-top: 12px;
    }
</style>

<body style="font-size: 14px;">
<div class="page">
  <create></create>
</div>
</body>

<script type="text/javascript" src="{{staticWithVersion "m/js" "manifest.js"}}"></script>
<script type="text/javascript" src="{{staticWithVersion "m/js" "vendor.js"}}"></script>
<script type="text/javascript" src="{{staticWithVersion "m/js" "create.js"}}"></script>
<!--<script type="text/javascript" src="{{static  "highlight/highlight.pack.js"}}"></script>-->
</html>
