{{> header}}
<body style="font-size: 14px;">
<div id="app" style="max-width:800px;margin: 0 auto">
{{!--     <router-view></router-view> --}}
    <index-page-slot>
        <index-page></index-page>
    </index-page-slot>

</div>
</body>

<script type="text/javascript" src="{{staticWithVersion "m/js" "manifest.js"}}"></script>
<script type="text/javascript" src="{{staticWithVersion "m/js" "vendor.js"}}"></script>
<script type="text/javascript" src="{{staticWithVersion "m/js" "app.js"}}"></script>
</html>
