<!DOCTYPE html>
<html>
<head>
    <title>学用通</title>
    <link href="{{ staticWithVersion 'm/css' 'login.css' }}" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="学用通,代码笔记,网站开发,电子技术,游戏,golang,物联网,openwrt,路由器">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    </script>
</head>
</head>
<body>

<div class="app-location">
    <h2>Welcome to 学用通</h2>
    <div class="line"><span></span></div>
    <div class="location">
        <img src="/img/login/location.png" class="img-responsive" alt=""/>
    </div>

    <form id="login_form">
        <input id="mobile" type="text" class="text" placeholder="手机号码">
        <input id="password" type="password" placeholder="密码">
        <input id="submit" type="submit" value="登录">
    </form>

    <div class="clear"></div>
    <div class="new">
        <h3><a href="/">首页</a></h3>
        <h4><a href="/register">注册用户</a></h4>
        <div class="clear"></div>
    </div>
</div>
<script src="{{ staticWithVersion 'm/js' 'login.js' }}"></script>
</body>
</html>