<!DOCTYPE html>
<html>
<head>
    <title>伟哥笔记</title>
    <link href="{{ staticWithVersion 'm/css' 'login.css' }}" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="伟哥笔记,网站开发,电子,游戏,golang,容器" ./>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    </script>
</head>
</head>
<body>

<div class="app-location">
    <h2>Welcome to 学用通</h2>
    <div class="line"><span></span></div>
    <div class="location"><img src="/img/default.png" class="img-responsive" alt=""/></div>
    <form id="register_from1">
        <input id="mobile" type="text" class="text" placeholder="手机号码">
        <input id="code" type="text" placeholder="短信验证码">
        <input id="password" type="password" placeholder="密码">
        <input id="sendMsg" type="submit" value="发送验证码">
        <div style="height: 5px"></div>
        <input id="register" type="submit" value="注册">
    </form>
    <div class="clear"></div>
    <div class="new">
        <h3><a href="/">首页</a></h3>
        <h4><a href="/login">登录</a></h4>
        <div class="clear"></div>
    </div>
</div>
<script src="{{ staticWithVersion 'm/js' 'login.js' }}"></script>
</body>
</html>