{{> header}}
<body style="font-size: 14px;">
<div id="app" style="max-width:800px;margin: 0 auto">
{{!--     <router-view></router-view> --}}
    <testpaper></testpaper>
</div>
</body>
<script type="text/javascript" src="{{staticWithVersion "m/js" "manifest.js"}}"></script>
<script type="text/javascript" src="{{staticWithVersion "m/js" "vendor.js"}}"></script>
<script type="text/javascript" src="{{staticWithVersion "m/js" "testpaper.js"}}"></script>
</html>
