queuelength = 1024
middlewares = eventformat,eventview
logFilterCategories = MqttModule,EventQueue,Dispath
#logOnlyCategories = MqttModule
logInterval = 1
debugLevel  = debug
deviceName = device_name
basePath = /Users/kky/Desktop/pc/lehui
accessToken = accessToken

[PrinterModule]
enable = 1
dropFlag = 0
width = 58
path = printer

[MqttModule]
productKey = a1QHuCsS3fb
deviceSecret = oQSmO2T9chzHBlYjrF6EZb0icz61Nk9s

[DebugModule]
enable = 0
events = vioce,printe ,upload

[VoiceModule]
enable = 1
inner  =  false
path   =  ./libs/libvoice.dll
subs   =  voice

[libTestModule]
enable = 0
inner  =  false
path   =  ./libs/libTestModule.dll
subs   =  testlib

[ClientModule]
enable = 1
inner  = true
subs   = configReply,updatePreparationReady,amount,appReady

[PrinterHookModule]
enable = 1
inner  = true
subs   =
hookType = 0
hookName =
hookNetIp = 127.0.0.1
hookNetPort = 9100
isForward = false
forwardNetIp =
forwardNetPort = 9100
amountPrefix =
returnText = false

[OtaModule]
enable = 1
inner  =  true
subs   =  update
checkForUpdatesApiUrl = http://dev.api.hsh.lehuipay.com/pc/ota/check?lh_dev=dev4
checkForUpdatesTimeoutSeconds = 30
downloadFileTimeoutSeconds = 3600
processNum = 10
retryTimes = 3